<template>
  <div class="goods">
    goods
  </div>
</template>

<script>
export default {
    data() {
        return {
            
        }
    },
}
</script>

<style lang="stylus" scoped>

</style>