<template>
  <div class="users">
    <div style="margin-top: 15px;">
      <el-input placeholder="请输入内容" v-model="params.query" @keyup.enter.native="getUserList" class="input-with-select">
        <el-button slot="append" icon="el-icon-search" @click="getUserList"></el-button>
      </el-input>
    </div>
    <el-table
      :data="tableData.users"
      style="width: 100%"
    >
      <el-table-column
        label="#"
        type="index">
      </el-table-column>
      <el-table-column label="姓名" prop="username"></el-table-column>
      <el-table-column label="邮箱" prop="email"></el-table-column>
      <el-table-column label="电话" prop="mobile"></el-table-column>
      <el-table-column label="创建日期" prop="create_time"></el-table-column>
      <el-table-column label="用户状态" prop="mg_state">
        <template slot-scope="scope">
        <el-switch
          v-model="scope.row.mg_state"
          active-color="#13ce66"
          inactive-color="#ff4949">
        </el-switch>
        </template>
      </el-table-column>
      <el-table-column label="操作">
        <template slot-scope="">
          <el-button type="primary" size="small" icon="el-icon-edit" circle></el-button>
          <el-button type="danger" size="small" icon="el-icon-delete" circle></el-button>
          <el-button type="success" size="small" icon="el-icon-check" circle></el-button>
          <!-- <el-button size="mini" @click="handleEdit(scope.$index, scope.row)">Edit</el-button>
          <el-button size="mini" type="danger" @click="handleDelete(scope.$index, scope.row)">Delete</el-button>
          <el-button size="mini" type="danger" @click="handleDelete(scope.$index, scope.row)">Delete</el-button> -->
        </template>
      </el-table-column>
    </el-table>
     <el-pagination
      style="margin-top: 15px;"
      @size-change="handleSizeChange"
      @current-change="handleCurrentChange"
      :current-page="params.pagenum"
      :page-sizes="[2, 4, 6, 8]"
      :page-size="2"
      layout="total, sizes, prev, pager, next, jumper"
      :total="tableData.total">
    </el-pagination>
  </div>
</template>

<script>
import { getUserList } from "../../http/http";
export default {
  data() {
    return {
      userList: [],
      params:{
        pagenum: 1,
        pagesize: 2,
        query:""
      },
      tableData: {},
      search:""
    };
  },
  created() {
    this.getUserList();
  },
  methods: {
    getUserList() {
      getUserList(this.params).then(
        res => {
          console.log(res);
          this.tableData = res
        }
      );
    },
    handleSizeChange(num) {
      this.params.pagesize=num
      this.getUserList()
    },
    handleCurrentChange(num) {
      this.params.pagenum=num
      this.getUserList()
    }
  }
};
</script>

<style lang="stylus" scoped>
.input-with-select
  width 350px
  .el-input__inner
    width 273px
    height 40px
</style>