<template>
  <div class="index">
    <div class="main">
      <el-container style="height: 100vh; border: 1px solid #eee">
        <el-aside>
          <el-menu 
          text-color="#999"
          background-color="#001529"
          active-text-color="#fff"
          :router="true"
          :default-active="defaultActive"
          :unique-opened="true">
            <h3 class="title">后台管理</h3>
            <el-submenu v-for="(item) in menu" :key="item.id" :index="''+item.id">
              <template slot="title">
                <i class="el-icon-user-solid"></i>{{item.authName}}
              </template>
              <el-menu-item-group v-for="(_item) in item.children" :key="_item.id">
                <el-menu-item :index="'/index/' + _item.path">{{_item.authName}}</el-menu-item>
              </el-menu-item-group>
            </el-submenu>
          </el-menu>
        </el-aside>

        <el-container>
          <el-header style="text-align: right; font-size: 14px; border-bottom: 1px solid #ddd">
            <el-dropdown>
              <i class="el-icon-setting" style="margin-right: 15px"></i>
              <el-dropdown-menu slot="dropdown">
                <el-dropdown-item @click.native="loginout">退出</el-dropdown-item>
              </el-dropdown-menu>
            </el-dropdown>
            <span>{{$store.state.username}}</span>
          </el-header>

          <el-main>
              <div class="main">
                <el-breadcrumb separator="/">
                  <!-- <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
                  <el-breadcrumb-item><a href="/">{{"活动管理"}}</a></el-breadcrumb-item> -->
                  <el-breadcrumb-item>首页</el-breadcrumb-item>
                  <el-breadcrumb-item>用户管理</el-breadcrumb-item>
                  <el-breadcrumb-item>用户列表</el-breadcrumb-item>
                </el-breadcrumb>
                <router-view></router-view>
              </div>
          </el-main>
        </el-container>
      </el-container>
    </div>
  </div>
</template>

<script>
import { getMenus } from "../http/http";
import {Message} from "element-ui"
export default {
    data() {
      return {
        username:localStorage.getItem("username"),
        menu:[],
        defaultActive:this.$route.path,
        manager:"",
        list:""
      }
    },
  created() {
    this.getMenus()
  },
  methods: {
    loginout() {
      localStorage.clear();
      this.$store.commit("resetState")
      this.$router.replace("/")
    },
    getMenus(){
      getMenus().then(res => {
        this.menu = res
        // console.log(res)
      })
    }
  },
  watch:{
    $route(){
      // console.log()
      this.defaultActive=this.$route.path
    }
  }
};
</script>

<style lang="stylus" scoped>
.main
  background-color #e9eef3
  aside.el-aside
    height 100vh
    width 210px
    box-sizing border-box
    overflow hidden
    background-color #001529
.el-menu
  border-right 0
.el-header
  line-height 60px
.index 
  .title 
    height 60px
    line-height 60px
    text-align center
    color #fff

.el-main 
  background-color #eeeeee
  padding 15px
  .main   
    background-color #fff
    border-radius 5px
    padding 15px
</style>