<template>
  <div id="login">
    <div class="login-form-wrap">
      <h3 class="login-form-title">欢迎登录</h3>
      <div class="login-form">
        <el-form ref="login-form" :model="form" class="demo-form-inline" :rules="rules" size="small">
          <el-form-item prop="username" >
            <el-input v-model="form.username" type="text">
              <el-button slot="prepend" icon="el-icon-user-solid"></el-button>
            </el-input>
          </el-form-item>
          <el-form-item prop="password">
            <el-input v-model="form.password"  type="password">
              <el-button slot="prepend" icon="el-icon-lock"></el-button>
            </el-input>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" class="login-form-btn" @click="login">登录</el-button>
          </el-form-item>
        </el-form>
      </div>
    </div>
  </div>
</template>

<script>
import {login} from '../http/http.js'
import { mapMutations } from 'vuex';
export default {
  data() {
    return {
      form:{
        username:"admin",
        password:"123456",
      },
      rules:{
        username:[{required:true,message:"用户名不能为空"}],
        password:[{required:true,message:"密码不能为空"}],
        }
    }
  },
  methods: {
    ...mapMutations([
      // setToken:"setToken",
      // setUsername:"setUsername"
      "setToken",
      "setUsername"
    ]),

     login() {
      this.$refs['login-form'].validate(async (valid) => {
        if (valid) {
          const {username,token} = await login(this.form);
          this.$message({
            showClose: true,
              message: '欢迎回来, '+username,
              type: 'success'
          })
          this.setToken(token)
          this.setUsername(username)
          this.$router.replace({
              name: 'index'
          })
        }
      })
      
      // this.$store.commit("setToken",token)
      // this.$store.commit("setUsername",username)
      
      //  this.$router.replace("/index")
    }
  },
}
</script>

<style lang="stylus" scoped>
#login 
    background-color: #324152;
    height: 100vh;
    background url(https://file.iviewui.com/admin-dist/img/login-bg.0899ffa6.jpg) 100% 
    background-size cover
    display flex
    justify-content flex-end
    align-items center
    .login-form-wrap 
      width 300px
      background-color  #fff
      border-radius 10px
      padding 15px
      margin-right 160px
      box-sizing border-box
      h3 
        height 50px
        line-height 50px
        text-indent 15px
        font-weight 700
        font-size 14px
        border-bottom 1px solid #dedede
      .login-form 
        padding 25px 15px
      .login-form-btn
          width 100%
</style>